{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <p>Please enter your url in the form</p>

    <form class="form-horizontal" method="post">
      <div class="row">
            <div class="col-12">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

{% endblock %}


