{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col"><b>Original URL:</b> <a href='{{ tiny_object.original_url }}'>{{ tiny_object.original_url }}</a></div>
    </div>
    <div class="row">
        <div class="col"><b>Visits Counter:</b> {{ tiny_object.visit_counter }}</div>
    </div>
    <div class="row">
        <div class="col"><b>Submitter:</b>  {{ tiny_object.author }}</div>
    </div>
{% endblock %}